<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <h1>TODO App</h1>
                <div class="nav-right">
                    {% if 'user_id' in session %}
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                    {% else %}
                    <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                    <a href="{{ url_for('register') }}" class="nav-link">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <p>© 2024 TODO App. All rights reserved.</p>
        <p> Created by Martin </p>
        <p>@ Semicolon </p>
    </footer>
</body>
</html>
